* {
  box-sizing: border-box;
}

.add-collect {
  margin-top: 5rem;
  margin-left: 5rem;
  color: #cfe418;
}

.input-form {
  border: 0.1rem ridge #cfe418;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color: #cfe418;
  font-style: italic;
}

.submit-btn {
  border: ridge #cfe418 0.1rem;
  margin-left: 0.3rem;
  text-align: center;
  color: #cfe418;
  padding: 0.4rem 1rem;
}
