* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.collection-display {
  width: 15rem;
  display: inline-block;
  padding: 5rem 3rem;
  margin: 0 1rem 0 1rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: #cfe418;
  border: 0.2rem inset #cfe418;
  text-align: center;
  border-radius: 1rem 0.5rem;
  cursor: pointer;
}

.collection-display:hover {
  border: 0.3rem inset #f0d90b;
}

/* .collection-display:active {
  border: 0.4rem inset #f0d90b;
  
} */
