* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #092741;
}

.welcome {
  width: 100vw;
  height: 100vh;
  margin-top: 5rem;
  /* background-color: aliceblue; */
}

@media screen and (min-width: 576px) {
  h2 {
    background-color: #6d0fe9;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    background-color: #42df2e;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    background-color: #e90fde;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    background-color: #1b0fc2;
  }
}

.welcome-text {
  font-size: 3rem;
  text-align: center;
  color: #cfe418;
}

.welcome-form {
  font-size: 1rem;
  text-align: center;
  color: #cfe418;
}

input[type="text"] {
  border: none;
  border-bottom: solid red 0.2rem;
  padding-left: 1rem;
  color: #ffffff;
}

.form-btn {
  border: ridge #cfe418 0.1rem;
  text-align: center;
  color: #cfe418;
  padding: 0.4rem 1rem;
}
