/*
====
GLOBAL
====
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #092741;
}

.btn {
  border: transparent;
  cursor: pointer;
}

/*
====
HEADER
====
*/
.header {
  margin-top: 50px;
  text-align: center;
  color: #cfe418;
  border-bottom: 0.3rem solid #f0d90b;
}
@media screen and (max-width: 576px) {
  .header {
    font-size: 2rem;
    margin-top: 50px;
  }
}
@media screen and (min-width: 576px) {
  .header {
    font-size: 2rem;
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    font-size: 3rem;
    margin-top: 50px;
  }
}

@media screen and (min-width: 992px) {
  .header {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    font-size: 4rem;
    margin-top: 20px;
  }
}

/*
====
WELCOME PAGE
====
*/

.welcome-section {
  border: 0.2rem ridge #f0d90b;
  position: fixed;
  height: 20rem;
  width: 20rem;
}

@media screen and (max-width: 576px) {
  .welcome-section {
    top: 30%;
    left: 20%;
  }
}
@media screen and (min-width: 576px) {
  .welcome-section {
    top: 30%;
    left: 20%;
  }
}

@media screen and (min-width: 768px) {
  .welcome-section {
    top: 40%;
    left: 30%;
  }
}

@media screen and (min-width: 992px) {
  .welcome-section {
    top: 40%;
    left: 35%;
  }
}

@media screen and (min-width: 1200px) {
  .welcome-section {
    top: 40%;
    left: 38%;
  }
}

.welcome-input {
  font-size: 1rem;
  text-align: center;
  color: #cfe418;
  margin-top: 5rem;
}

.welcome-alert {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

input[type="text"] {
  height: 2rem;
  display: inline;
  border: none;
  border-bottom: 0.1rem solid #f0d90b;
  padding-left: 1rem;
  color: #f0d90b;
  /* font-size: 1rem; */
}

.enter-btn {
  margin-left: 1rem;
  text-align: center;
  color: #ffffff;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  background-color: #f0d90b;
  border-radius: 100% 100%;
}

.welcome {
  font-size: 1rem;
  text-align: center;
  color: #cfe418;
  margin-top: 5rem;
}

.alt-user {
  margin-top: 2rem;
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
  color: #cfe418;
  position: absolute;
  right: 30%;
}

/*
====
COLLECTIONS
====
*/
.collections-section {
  display: flex;
  flex-wrap: wrap;
}

.collection {
  cursor: pointer;
}

.collection-header {
  margin-bottom: 2rem;
}

.collection-title {
  color: #f0d90b;
}

.add-collection-btn {
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .collections-section {
    flex-direction: column;
    width: 30vw;
    margin-left: 0.5rem;
  }
  .collection {
    flex: 1 50px;
    border: 0.1rem solid #ffffff;
    margin-bottom: 1rem;
  }
  .collection h3 {
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 0.2rem;
    text-align: center;
  }
  .collection small {
    color: #cfe418;
    font-style: italic;
  }
  .collections-div {
    margin-left: 1rem;
    transform: translateY(20%);
  }
}

@media screen and (min-width: 576px) {
  .collections-section {
    flex-direction: column;
    width: 30vw;
    margin-left: 0.5rem;
  }
  .collection {
    flex: 1 50px;
    border: 0.1rem solid #ffffff;
    margin-bottom: 1rem;
  }
  .collection h3 {
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 0.2rem;
    text-align: center;
  }
  .collection small {
    color: #cfe418;
    font-style: italic;
  }
  .collections-div {
    margin-left: 1rem;
    transform: translateY(20%);
  }
  /* .add-card {
    color: #f0d90b;
  } */
}

@media screen and (min-width: 768px) {
  .collections-section {
    flex-direction: column;
    width: 30vw;
    margin-left: 1rem;
  }
  .collection {
    flex: 1 50px;
    border: 0.1rem solid #ffffff;
    margin-bottom: 1rem;
  }
  .collection h3 {
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 0.2rem;
    text-align: center;
  }
  .collection small {
    color: #cfe418;
    font-style: italic;
  }
  .collections-div {
    margin-left: 3rem;
    transform: translateY(20%);
  }
  /* .add-card {
    color: #f0d90b;
  } */
}

@media screen and (min-width: 992px) {
  .collections-section {
    flex-direction: row;
    width: 70vw;
    margin-top: 1rem;
  }
  .collection {
    flex: 1;
    border: 0.1rem solid #ffffff;
    margin-right: 1rem;
  }
  .collection h3 {
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 0.2rem;
    text-align: center;
  }
  .collection small {
    color: #cfe418;
    font-style: italic;
  }
  .collections-div {
    margin-top: 5rem;
    transform: translateX(12%);
  }
  /* .add-card {
    color: #f0d90b;
  } */
}

@media screen and (min-width: 1200px) {
  .collections-section {
    flex-direction: row;
    width: 70vw;
    margin-top: 1rem;
  }
  .collection {
    flex: 1;
    border: 0.1rem solid #ffffff;
    margin-right: 1rem;
  }
  .collection h3 {
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 0.2rem;
    text-align: center;
  }
  .collection small {
    color: #cfe418;
    font-style: italic;
  }
  .collections-div {
    margin-top: 5rem;
    transform: translateX(12%);
  }
  /* .add-card {
    color: #f0d90b;
  } */
}

/*
=====
CARDS
=====
*/

.add-card {
  color: #f0d90b;
}

.card-header {
  border-bottom: 0.2rem solid #f0d90b;
  padding: 0.5rem 0.3rem;
  margin-bottom: 5rem;
}
.card-toggle-btn {
  background-color: #f0d90b;
}
.card-header h5 {
  background: none;
  display: inline-block;
  text-align: center;
  text-transform: initial;
  font-size: 1.5rem;
}
.card-header button {
  float: right;
  color: #f0d90b;
  font-size: 1.5rem;
  margin-right: 0.3rem;
}
.question-card {
  display: inline-block;
  width: 12rem;
  padding: 0 0.2rem;
  margin: 0 0.2rem;
  text-align: center;
  color: aliceblue;
}

@media screen and (max-width: 576px) {
  .card {
    border: 0.1rem solid #f0d90b;
    position: fixed;
    left: 40%;
    top: 30%;
    width: 15rem;
    height: 20rem;
  }
}
@media screen and (min-width: 576px) {
  .card {
    border: 0.1rem solid #f0d90b;
    position: fixed;
    left: 40%;
    top: 35%;
    width: 15rem;
    height: 20rem;
  }
}

@media screen and (min-width: 768px) {
  .card {
    border: 0.1rem solid #f0d90b;
    position: fixed;
    left: 45%;
    top: 40%;
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 992px) {
  .card {
    border: 0.1rem solid #f0d90b;
    position: fixed;
    left: 35%;
    top: 45%;
    width: 15rem;
    height: 20rem;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    border: 0.1rem solid #f0d90b;
    position: fixed;
    left: 35%;
    top: 45%;
    width: 15rem;
    height: 20rem;
  }
}

/*************************/

.add-collect {
  margin-top: 5rem;
  margin-left: 5rem;
  color: #cfe418;
}

.input-form {
  border: 0.1rem ridge #cfe418;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color: #cfe418;
  font-style: italic;
}

.submit-btn {
  border: ridge #cfe418 0.1rem;
  margin-left: 0.3rem;
  text-align: center;
  color: #cfe418;
  padding: 0.4rem 1rem;
}

/*
====
VIEW COLLECTIONS
====
*/

.collection-display {
  width: 15rem;
  display: inline-block;
  padding: 5rem 3rem;
  margin: 0 1rem 0 1rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: #cfe418;
  border: 0.2rem inset #cfe418;
  text-align: center;
  border-radius: 1rem 0.5rem;
}

.collection-display:hover {
  border: 0.3rem inset #f0d90b;
}

.card-count-indicator {
  text-decoration: underline;
  margin: 3rem 2rem 1rem 2rem;
}

.collection-name {
  color: #cfe418;
  margin: 1rem 2rem;
}

.next-button {
  margin: 0 0.5rem 0 0.5rem;
}

.card-edit-delete-section {
  float: right;
}

.card-edit-delete-icon {
  padding: 0 0.5rem;
}

.no-cards-message {
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
}

.display-answer {
  text-align: center;
  font-style: italic;
  font-size: 0.7rem;
  float: right;
  margin-top: 6rem;
  color: #cfe418;

  position: sticky;
}

/*
====
MAIN
====
*/
.hide {
  display: none;
}

.back {
  font-size: 1.5rem;
  color: #cfe418;
  font-weight: bold;

  margin: 2rem 0 0 5rem;
}

.main {
  width: 100vw;
  height: 100vh;
  margin-top: 5rem;
}

p {
  color: #cfe418;
}

.collection-div {
  margin: 0 6rem;
}

.collection-btn {
  border: ridge #cfe418 0.1rem;
  text-align: center;
  color: #cfe418;
  padding: 0.4rem 1rem;
  margin-right: 0.2rem;
}

/* @media screen and (max-width: 576px) {
}
/* @media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
} */
